
* {
    box-sizing: border-box;
}
.container {
    width: 85%;
    margin:20px auto;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../../img/otoño.jpg);
    background-attachment: scroll;
}
    header{
    background-image: linear-gradient(to bottom, rgba(150, 30, 0, 0.83), rgba(224, 120, 0, 0.853));
    color: antiquewhite;
    text-shadow: 3px 4.5px 2px rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    border-radius: 15px;
    padding: 1px;
    margin-bottom: 10px;
}
h2 {
    text-shadow: 4px 5px 4px black;
}
.panda {
    margin-bottom: 20px;
}
nav {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 2%;
    text-align: center;
}
nav div {
    position: relative;
    display: inline-flex;
    color: white;
    font-size: 15pt;
    font-weight: bold;
    text-shadow: 3px 3px 1px rgb(99, 25, 25);
    padding: 1.5% 5%;
    text-transform: uppercase;
}
div .menú {
    border: 1px white solid;
    border-radius: 25px;
    background-color: rgb(165, 77, 42);
    border-collapse: separate;
}
aside {
    color: aliceblue;
    font-size: small;
    position: relative;
    background-color:  rgba(168, 51, 11, 0.905);
    width: 13%;
    height: 750px;
    padding: 1%;
    text-align: center;
    border-radius: 15px;
    float: left;
}
aside img {
    width: 90%;
    
}
aside ul {
    color: aliceblue;
    list-style: none;
    text-align: left;
    padding: 1%;
    font-size: medium;
}
.box{
    color: white;
    position: relative;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 2%;
    border: 1px rgb(255, 255, 255) solid;
    padding: 15px;
    border-radius: 15px;
    width: 60%;
    box-shadow: 16px 16px 8px rgb(0, 0, 0);
    font-weight: bold;
    background-color: rgba(165, 77, 42, 0.596);
    float: left;
}
fieldset{
    border: 3px solid rgb(126, 44, 17);
}
legend{
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    background-color: rgba(168, 51, 11, 0.905);
    border-radius: 8px;
}

#Fecha{
    border: none;
    padding: 8px;
    border-radius: 10px;
    color: rgb(221, 186, 141);
    background-color: rgb(197, 53, 0);
    outline: none;
    font-size: 15px;
}

#submit{
    background-image: linear-gradient(to top,rgb(197, 53, 0), rgb(220, 113, 20));
    width: 15%;
    border: 2px black solid;
    padding: 10px;
    color: rgb(14, 14, 14);
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}
#submit:hover{
    background-image: linear-gradient(to top,rgb(38, 161, 13), rgb(166, 255, 0), rgb(203, 255, 107)  );
    color: rgb(0, 0, 0);
}
#borrar {
    background-image: linear-gradient(to top,rgb(197, 53, 0), rgb(220, 113, 20));
    width: 15%;
    border: 2px black solid;
    padding: 10px;
    color: rgb(14, 14, 14);
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}
#borrar:hover{
    background-image: linear-gradient(to top,rgb(161, 23, 13), rgb(255, 51, 0), rgb(255, 129, 107)  );
    color: aliceblue    ;
}
#color {
    width: 20%;
}
aside#izq {
    color: aliceblue;
    font-size: medium;
    position: relative;
    background-color:  rgba(168, 51, 11, 0.905);
    width: 13%;
    height: 750px;
    padding-top: 4%;
    text-align: center;
    border-radius: 15px;
    float: left;
}
.css {
    padding-top: 10%;
}
a {
    color: rgb(79, 27, 0);
    font-weight: bold;
}
a:hover {
    color: rgb(53, 210, 0);
    font-size: x-large;
    text-transform: uppercase;
}
a:visited {
    color: rgb(3, 69, 0);
}
footer {
    background-image: linear-gradient(to top, rgb(207, 173, 61),rgb(161, 97, 13), rgb(189, 47, 12));
    font-size: 15pt;
    color: aliceblue;
    font-weight: bold;
    padding: 1% 5%;
    text-align: center;
    position: relative;
    width: 100%;
    border-radius: 15px; 
    clear: both;
}
