/*Hoja de estilos de la Página Principal de Laura Martín Martínez 2SMRB*/
* {
    box-sizing: border-box;
}
.container {
    width: 85%;
    margin:20px auto;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../../img/otoño.jpg);
    background-attachment: scroll;
}
header{
    background-image: linear-gradient(to bottom, rgba(150, 30, 0, 0.83), rgba(224, 120, 0, 0.853));
    color: antiquewhite;
    text-align: center;
    text-shadow: 3px 4.5px 2px rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 15px;
    padding: 1px;
    margin-bottom: 10px;
}
nav {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 2%;
    text-align: center;
}
nav div {
    position: relative;
    display: inline-flex;
    color: white;
    font-size: 15pt;
    font-weight: bold;
    text-shadow: 3px 3px 1px rgb(99, 25, 25);
    padding: 1.5% 5%;
    text-transform: uppercase;
}
div .menú {
    border: 1px white solid;
    border-radius: 25px;
    background-color: rgb(165, 77, 42);
    border-collapse: separate;
}
aside {
    color: aliceblue;
    font-size: small;
    position: relative;
    float: left;
    background-color:  rgba(168, 51, 11, 0.905);
    width: 13%;
    height: 750px;
    padding: 1%;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 2%;
}
aside img {
    width: 90%;
    
}

hr{
   margin: 3%;
   height: 4px;
   background-color:  rgba(168, 51, 11, 0.905);
}
aside ul {
    color: aliceblue;
    list-style: none;
    text-align: left;
    padding: 1%;
    font-size: medium;
}
div .caracteristicas {
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 3px white;
    background-color:  rgba(168, 50, 11, 0.467);
    border-radius: 10px;
    column-count: 3;
    column-gap: 3em;
    column-rule-color: rgb(146, 52, 5);
    column-rule-style: solid;
    column-rule-width: 4px;
    width: 100%;
    padding: 2%;
    text-align: justify;
    font-weight: lighter;
}
h3{
    margin-top: 0px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 3px 4px black;
}
h2 {
    text-shadow: 4px 5px 4px black;
}
.tejon {
    margin-bottom: 20px;
}
.dos_cosas {
    text-align: right;
}
.act {
    border: 1px rgb(255, 255, 255) solid;
    background-color:  rgba(168, 50, 11, 0.467);
    text-align: center;
    text-transform: uppercase;
    border-radius: 20px;
    box-shadow: 1px 2px 5px white;
}
.act2 {
    border: 1px rgb(255, 255, 255) solid;
    background-color:  rgba(168, 50, 11, 0.467);
    text-align: center;
    text-transform: uppercase;
    border-radius: 20px;
    box-shadow: 1px 2px 5px white;
}
.actividades {
    column-count: 2;
    margin-top: 0px;
    width: 100%;
    padding: 1%;
}
.Discord {
    margin-top: 0px;
    width: 100%;
    padding: 1%;
    text-align: left;
    border: 0px;
    box-shadow: 0px 0px 0px;
    background-color: rgba(245, 222, 179, 0);
}
img.discord {
    width: 200px;
    border-radius: 10px;
}

main{
    color: white;
    position: relative;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 2%;
    border: 1px rgb(255, 255, 255) solid;
    padding: 15px;
    border-radius: 15px;
    width: 60%;
    box-shadow: 16px 16px 8px rgb(0, 0, 0);
    font-weight: bold;
    background-color: rgba(165, 77, 42, 0.596);
    float: left;
 
}
aside#izq {
    color: aliceblue;
    font-size: medium;
    position: relative;
    background-color:  rgba(168, 51, 11, 0.905);
    width: 13%;
    height: 750px;
    padding-top: 4%;
    text-align: center;
    border-radius: 15px;
    float: left;
}
.css {
    padding-top: 10%;
}
a {
    color: rgb(79, 27, 0);
    font-weight: bold;
}
a:hover {
    color: rgb(53, 210, 0);
    font-size: x-large;
    text-transform: uppercase;
}
a:visited {
    color: rgb(3, 69, 0);
}

footer {
    background-image: linear-gradient(to top, rgb(207, 173, 61),rgb(161, 97, 13), rgb(189, 47, 12));
    font-size: 15pt;
    color: aliceblue;
    font-weight: bold;
    padding: 1% 5%;
    text-align: center;
    position: relative;
    width: 100%;
    border-radius: 15px; 
    clear: both;
}