/*Hoja de estilos del CV de Laura Martín Martínez 2SMRB*/
* {
    box-sizing: border-box;
}
.container {
    width: 85%;
    margin:20px auto;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../../img/otoño.jpg);
    background-attachment: scroll;
}
header{
    background-image: linear-gradient(to bottom, rgba(150, 30, 0, 0.83), rgba(224, 120, 0, 0.853));
    color: antiquewhite;
    text-shadow: 3px 4.5px 2px rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    border-radius: 15px;
    padding: 1px;
    margin-bottom: 10px;
}
h1#CV {
    margin-top: 1%;

}
h2#CVh2 {
    margin-top: 7%;
}
h2 {
    text-shadow: 4px 5px 4px black;
}
.pogona {
    margin-bottom: 20px;
}
div.cabecera {
    padding: 0.5%;
    background-color:  rgba(168, 50, 11, 0.597);
    border-radius: 10px;
}
nav {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 2%;
    text-align: center;
}
nav div {
    position: relative;
    display: inline-flex;
    color: white;
    font-size: 15pt;
    font-weight: bold;
    text-shadow: 3px 3px 1px rgb(99, 25, 25);
    padding: 1.5% 5%;
    text-transform: uppercase;
}
div .menú {
    border: 1px white solid;
    border-radius: 25px;
    background-color: rgb(165, 77, 42);
    border-collapse: separate;
}
aside {
    color: aliceblue;
    font-size: small;
    position: relative;
    background-color:  rgba(168, 51, 11, 0.905);
    width: 13%;
    height: 750px;
    padding: 1%;
    text-align: center;
    border-radius: 15px;
    float: left;
}
aside img {
    width: 90%;
    
}
aside ul {
    color: aliceblue;
    list-style: none;
    text-align: left;
    padding: 1%;
    font-size: medium;
}
caption {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(162, 55, 13, 0.596);
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    width: 300px;
}
main{
    color: white;
    position: relative;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 2%;
    border: 1px rgb(255, 255, 255) solid;
    padding: 15px;
    border-radius: 15px;
    width: 60%;
    height: 750px;
    box-shadow: 16px 16px 8px rgb(0, 0, 0);
    font-weight: lighter;
    background-color: rgba(165, 77, 42, 0.596);
    float: left;
}

.foto {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
  }

.foto img {
    width: 100%;
    height: 100%;
  }

main h1 {
    float: right;
    margin-top: 20px;
}
main h2 {
    float: right;
    margin-top: 80px;
    margin-right: -250px;
}

aside#izq {
    color: aliceblue;
    font-size: medium;
    position: relative;
    background-color:  rgba(168, 51, 11, 0.905);
    width: 13%;
    height: 750px;
    padding-top: 4%;
    text-align: center;
    border-radius: 15px;
    float: left;
}

.css {
    padding-top: 10%;
}
a {
    color: rgb(79, 27, 0);
    font-weight: bold;
}
a:hover {
    color: rgb(53, 210, 0);
    font-size: x-large;
    text-transform: uppercase;
}
a:visited {
    color: rgb(3, 69, 0);
}
footer {
    background-image: linear-gradient(to top, rgb(207, 173, 61),rgb(161, 97, 13), rgb(189, 47, 12));
    font-size: 15pt;
    color: aliceblue;
    font-weight: bold;
    padding: 1% 5%;
    text-align: center;
    position: relative;
    width: 100%;
    border-radius: 15px; 
    clear: both;
}